#About{
    height: 100vh;
    background-image: url('../../Assets/about-car.jpg');
    /* Source img  https://wallpaperaccess.com/full/1179614.jpg */
    background-size: cover;
    color: var(--white);
    justify-content: flex-start;
    text-align: center;
    padding-top: 90px;
}

#About div{
    width: 80%;
}

#About h2{
    color: var(--primary-color);
}