#cart{
    position: absolute;
    top:0;
    height:100%;
    width:200px;
    right: -250px;
    transition: right 0.6s;
    z-index:100;
    padding-top: 100px;
    background-color: var(--lighter-bg-color);
    color: var(--white);
    display: none;
    transition: 1s;
}

#cart.open{
    right:0;
    display: inline;
}

#cart button{
    background-color: var(--primary-color);
    padding: 5px;
    border: none;
}

#cart *{
    color: var(--white);
}
