#Catalog{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#items{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 80%;
}

#sort{
    display:flex;
    align-items: center;
    justify-content: space-between;
}