# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

next features
    Redesign app
    Checkout page
        For now it is disabled
    Notification when cart is changed
        item is added to cart

References
- Car Not Found 
- 404 Page
    https://gianlucajahn.github.io/react-ecommerce-store/ - click 404 page
- Search
    https://cardealer.potenzaglobalsolutions.com/electro-el/cars/
    https://creativelayers.net/themes/boxcar-html/inventory-list-01.html#
- Checkout
    https://autocare.dexignlab.com/xhtml/shop-cart.html
- Hero
    https://duruthemes.com/demo/html/renax/light/#
    https://creativelayers.net/themes/boxcar-html/index-6.html
    https://gianlucajahn.github.io/react-ecommerce-store/
    https://alex-dishen.github.io/game-harbor/
- Car Page  
    https://demo.vehica.com/listing/porsche-macan-2018-5-door-suv-blue/


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#next
next-steps