.sort {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .layouts {
    display: flex;
    gap: 8px;
    grid-area: layouts;
    svg {
      width: 20px;
    }
    .primary {
      color: var(--primary-color);
      fill: inherit;
    }
  }
  .price {
    grid-area: price;
    display: none;
    .slider {
      width: 100%;
      height: 25px;
      outline: none;
    }
  }
  .categories,
  .sort-by {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .categories {
    grid-area: categories;
  }
  .sort-by {
    grid-area: sort;
  }
  .search {
    grid-area: search;
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    gap: 8px;
    input {
      min-width: 300px;
    }
  }
  @media screen and (min-width: 476px) {
    display: grid;
    grid-template-areas: "layouts search categories sort";
    grid-template-columns: auto 1fr auto auto;
  }
  @media screen and (min-width: 1024px) {
    .search {
      display: flex;
    }
  }
}
