#Checkout {
  flex-direction: row;
  gap: 20px;
  width: 100vw;
  padding-top: 90px;
  justify-content: space-between;
  .empty {
    font-size: 20px;
    font-weight: bold;
    a {
      color: var(--primary-color);
      position: relative;
      width: fit-content;
      &:after {
        position: absolute;
        display: block;
        content: "";
        height: 1px;
        width: 100%;
        background-color: var(--primary-color);
        transform: scaleX(0);
        transition: 0.4s;
      }
      &:hover {
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
}

#order-summary {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  text-align: center;
  background: var(--lighter-bg-color);
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
}

#order-summary a {
  background-color: var(--primary-color);
  padding: 10px;
}

#order-summary a:hover {
  transform: scale(1.05);
}

#Checkout ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

#Checkout li img {
  width: 350px;
  border-radius: 5px;
}

.checkout-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.checkout-item-info {
  display: flex;
  justify-content: space-between;
  width: 350px;
  gap: 10px;
}

.checkout-item-info .left,
.checkout-item-info .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.checkout-item-info .right span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

#Checkout button {
  padding: 0;
}

.checkout-item-info button {
  width: 30px;
}

@media screen and (max-width: 1000px) {
  #Checkout {
    flex-direction: column-reverse;
    text-align: center;
    padding: 90px 0px;
  }
  #order-summary {
    align-self: center;
  }
  .checkout-item {
    flex-direction: column;
    align-items: center;
  }
  .checkout-item-info {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  #Checkout li img {
    width: 100%;
  }

  .checkout-item-info .right {
    align-items: center;
  }
  .checkout-item-info .left {
    align-items: center;
  }
}
